---
layout: default
title: Home
tags: home
---


<div class="posts">
	
<!--	<!-- Random quote generator --*>
	<div class="quoteMain">
		<div class="quoteM">
			<p class="script"><span id="quote-author"></span></p>
			<p id="quote" class="shadow text1"></p>
			
		</div>
		<div class="quoteTB" align="right" style="width: 100%;"><img id="quoteI" src="" align="right"></div>
	</div>
	<script type="text/javascript" src="{{ site.baseurl }}/public/js/quote2.js"></script> 
	-->

	
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>


	<span class="post-date"><i class="fa fa-clock-o"></i> &emsp; {{ post.date | date_to_string }} &emsp;&emsp;&emsp; 
	<i class="fa fa-tags"></i> 
	{% for tag in post.tags %}
	  {% capture tag_name %}{{ tag }}{% endcapture %}
	  <a href="/tag/{{ tag_name }}"><code class="tag"><nobr>{{ tag_name }}</nobr></code></a>
	{% endfor %}
	&emsp;&emsp;&emsp; 
	
	<i class="fa fa-sitemap"></i>
	{% for category in post.categories %}
	  {% capture category_name %}{{ category }}{% endcapture %}
	  <a href="/category/{{ category_name }}"><code class="tag"><nobr>{{ category_name }}</nobr></code></a>
	{% endfor %}
	</span>



    {{ post.excerpt }}
  </div>
  {% endfor %}
</div>


<!--<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/blog/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/blog/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>-->

<div class="pagination">
	<span>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous"><i class="fa fa-arrow-circle-left"></i></a>
  {% else %}
    <span class="previous"><i class="fa fa-arrow-circle-left"></i></span>
  {% endif %}
  </span>
  <span style=" font-family: Roboto; font-weight: bold; padding-left: 15px; padding-right: 15px;">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  <span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next"><i class="fa fa-arrow-circle-right"></i></a>
  {% else %}
    <span class="next "><i class="fa fa-arrow-circle-right"></i></span>
  {% endif %}
  </span>
</div>
