/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    height: 70%;
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    padding-left: 100px;
    padding-right: 100px;
    font-family: Roboto Condensed, sans-serif;
}

.overlay-col {
		float: left; 
		width: 25%;
		height: 100%;
		display: inline-block;
		vertical-align: top;		
		border-bottom: 1px solid rgba(255,255,255, 0.5);
		padding-left: 5px;
		padding-right: 5px;
}

.overlay-title {
		width: 100%;
		color: #fff;
		height: 50px;
		border-bottom: 1px solid rgba(255,255,255, 0.5);
		text-align: left;
		font-size: 35px;
		font-family: Roboto Condensed, sans-serif;
		text-shadow: 0px 2px 3px #555;
	}
	
.overlay-tag {
		padding-top: 20px;
		vertical-align: top;		
		overflow: scroll;
		font-size: 20px;
		height: calc(100% - 50px);
		text-align: left;
	}

#cap {
	text-transform: capitalize;
}

.overlay-tag li {;
   list-style-type: none;
    padding: 5px 20px;
    list-style-position: inside;
    text-indent: -.5em;
}

.overlay-tag h3 {
		padding: 0px;
		margin: 0px;
		text-shadow: 0px 2px 3px #555;
		color: #ffffff;
		clear: both;
	}
	
	#overlay-icon {
			
			color: #aaaaaa;
			font-size: 80%;
			padding-bottom: 5px;
			text-shadow: 0 0 0;
		}
	
	
/*
	font-size: 25px;
	font-family: Roboto Condensed, sans-serif;
*/
/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    color: #ea8023;
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
		border-style: none;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}