
	 		  <!-- Button to close the overlay navigation -->
	 		  <a href="javascript:void(0)" class="closebtn" onclick="closeCategories()">&times;</a>
	 		
	 		  <!-- Overlay content -->
	 		  <div class="overlay-content">
	 		  

	 		   <div class="overlay-col">
	 		   	<div class="overlay-title"><i id="overlay-icon" class="fa fa-sitemap"></i> Categories</div>
	 		   		<div class="overlay-tag" id="cap">
	 		   		
	 		   		<ul>
	 		   			   	{% capture temptags %}
	 		   			   	  {% for tag in site.categories %}
	 		   			   	    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
	 		   			   	  {% endfor %}
	 		   			   	{% endcapture %}
	 		   			   	{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
	 		   			   	{% for temptag in sortedtemptags %}
	 		   			   	  {% assign tagitems = temptag | split: '#' %}
	 		   			   	  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
	 		   			   	  <li><a href="/tag/{{ tagname }}">{{ tagname }}</a></li>
	 		   			   	{% endfor %}	 		   
	 		   			 </ul>
	 		   		</div>
	 		   </div>
	 		   
	 		   
	 		   
	 		   <div class="overlay-col">
	 		   	<div class="overlay-title"><i id="overlay-icon" class="fa fa-tags"></i> Tags</div>
	 		   		<div class="overlay-tag" id="cap">
	 		   		
	 		   		<ul>
				 		   	{% capture temptags %}
				 		   	  {% for tag in site.tags %}
				 		   	    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
				 		   	  {% endfor %}
				 		   	{% endcapture %}
				 		   	{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
				 		   	{% for temptag in sortedtemptags %}
				 		   	  {% assign tagitems = temptag | split: '#' %}
				 		   	  {% capture tagname %}{{ tagitems[1] }}{% endcapture %}
				 		   	  <li><a href="/tag/{{ tagname }}">{{ tagname }}</a></li>
				 		   	{% endfor %}	 		   
				 		 </ul>
	 		   		</div>
	 		   	</div>
	 		   
	 		   
	 		   
	 		   
	 		   
	 		   <div class="overlay-col">
	 		   	<div class="overlay-title"><i id="overlay-icon" class="fa fa-archive"></i> Archive</div>
	 		   		<div class="overlay-tag">
		 		   		{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
		 		   		{% for yearMonth in postsByYearMonth %}
		 		   		  <h3>{{ yearMonth.name }}</h3>
		 		   		    <ul>
		 		   		      {% for post in yearMonth.items %}
		 		   		        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
		 		   		      {% endfor %}
		 		   		    </ul>
		 		   		{% endfor %}
	 		   	
	 		   		</div>	
	 		   </div>

	 		   
	 		   <div class="overlay-col">
	 		   	<div class="overlay-title"><i id="overlay-icon" class="fa fa-search"></i> Search</div>
	 		   		<div class="overlay-tag">
							
							<div class="box">
							  <div class="container-1">
							  <span class="icon"><i class="fa fa-search"></i></span>
							  	<form action="get" id="site_search">
							      <input type="search" id="search_box" placeholder="Search..." />
							    </form>
							  </div>
							</div>
							

							<br/>&nbsp;
				

							<ul id="search_results"></ul>
							
							<script src="{{ site.baseurl }}/public/js/lunr.min.js"></script>
							<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
							<script src="{{ site.baseurl }}/public/js/search.js"></script>
							
	 		   	
	 		   		</div>	
	 		   	
	 		   	
	 		   	
	 		   </div>
	 		   <br style="clear: left;" />
					
	 		  </div>
	 		