<div class="sidebar">
<div class="bgimg"></div>
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <!-- <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>-->
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
    	<ul class="menulist">
    		<li><a class="sidebar-nav-item{% if page.categories contains 'blog' %} active{% endif %}" href="{{ site.baseurl }}/">Blog</a></li>
    		<!--<li><a class="sidebar-nav-item" href="{{ site.baseurl }}/blog">Blog</a></li>-->
    		<li><a class="sidebar-nav-item{% if page.categories contains 'codes' %} active{% endif %}" href="{{ site.baseurl }}/pages/codes">Codes</a></li>
    		{% if page.categories contains 'codes' %}	
    			<ul class="menulist2">
    				<li><a class="sidebar-nav-subitem{% if page.tags contains 'tephraprob' %} active{% endif %}" href="{{ site.baseurl }}/pages/tephraprob">TephraProb</a></li>
    				<li><a class="sidebar-nav-subitem{% if page.tags contains 'tephrafits' %} active{% endif %}" href="{{ site.baseurl }}/pages/tephrafits">TephraFits</a></li>
    				<li><a class="sidebar-nav-subitem{% if page.tags contains 'terror' %} active{% endif %}" href="{{ site.baseurl }}/pages/terror">TError</a></li>
    				<li><a class="sidebar-nav-subitem{% if page.tags contains 'gbf' %} active{% endif %}" href="{{ site.baseurl }}/pages/gbf">GBF</a></li>
    				<li><a class="sidebar-nav-subitem{% if page.tags contains 'totgs' %} active{% endif %}" href="{{ site.baseurl }}/pages/totgs">TOTGS</a></li>
    				<li><a class="sidebar-nav-subitem{% if page.tags contains 'carey-sparks-86' %} active{% endif %}" href="{{ site.baseurl }}/pages/cs86">C&S 1986</a></li>
    			</ul>
    		{% endif %}
    		<li><a class="sidebar-nav-item">Me myself and I</a></li>
    	</ul>
    
    
    	<!--
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      -->
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>
    
    <p>
    <div class="sidebar-icons">
		<a href="https://github.com/e5k" target="_blank"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
		<!--<a href="https://github.com/e5k" target="_blank" class="sidebar-nav-item"><i class="ai ai-google-scholar ai-2x" aria-hidden="true"></i></a>-->
		<a href="http://orcid.org/0000-0002-1919-9473" target="_blank" class="sidebar-nav-item"><i class="ai ai-orcid ai-2x" aria-hidden="true"></i></a>
		<a href="https://www.researchgate.net/profile/Sebastien_Biass2" target="_blank"><i class="ai ai-researchgate-square ai-2x" aria-hidden="true"></i></a>
    </div>
    
    <p align="center" class="copyright">&copy; {{ site.time | date: '%Y' }}. SB.</p>
  </div>
</div>
