<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
	
	<div class="overlay" id="sideCategories" >
	 	{% include overlay-menu.html %} 		
	</div>
	
 	<div id="main">  
 	
    {% include sidebar.html %}
    
    
    
    
		
		<div class="central">
		<div class="test" data-parallax="scroll" data-image-src="/img/1.gif"></div>
		
		
		<div class="content container">
    	{{ content }}
    	
    </div>
    </div>
    
    {% include sidebarR.html %}
  </div>
    
  </body>
</html>
